 .text-zone {
     position: absolute;
     left: 10%;
     top: 50%;
     transform: translateY(-50%);
     width: 40%;
     max-height: 90%;
     z-index: 3;
 }

 .home-page {
     h1 {
         color: #fff;
         font-size: calc(53px*var(--scaler));
         margin: 0;
         font-family: 'Coolvetica';
         font-weight: 400;

         &::before {
             content: '<h1>';
             font-family: 'La Belle Aurore';
             color: #ffd700;
             font-size: calc(18px*var(--scaler));
             position: absolute;
             margin-top: calc(-40px*var(--scaler));
             left: calc(15px*var(--scaler));
             opacity: 0.6;
         }

         &::after {
             content: '<h1>';
             font-family: 'La Belle Aurore';
             color: #ffd700;
             font-size: calc(18px*var(--scaler));
             position: absolute;
             margin-top: calc(18px*var(--scaler));
             margin-left: calc(20px*var(--scaler));
             animation: fadeIn 1s 1.7s backwards;
             opacity: 0.6;
         }

         img {
             width: calc(32px*var(--scaler));
             margin-left: calc(20px*var(--scaler));
             opacity: 0;
             height: auto;
             animation: rotateIn 1s linear both;
             animation-delay: 1.4s;
         }
     }

     h2 {
         color: #8d8d8d;
         margin-top: calc(20px*var(--scaler));
         font-weight: 400;
         font-size: calc(11px*var(--scaler));
         font-family: sans-serif;
         letter-spacing: 3px;
         animation: fadeIn 1s 1.8s backwards;
     }

     .flat-button {
         color: #ffd700;
         font-size: calc(13px*var(--scaler));
         font-weight: 400;
         letter-spacing: calc(4px*var(--scaler));
         font-family: sans-serif;
         text-decoration: none;
         padding: calc(10px*var(--scaler)) calc(18px*var(--scaler));
         border: 1px solid #ffd700;
         margin-top: calc(25px*var(--scaler));
         float: left;
         animation: fadeIn 1s 1.8s backwards;
         white-space: nowrap;

         background: linear-gradient(to left, hsl(200,20%,10%) 50%, #ffd700 50%) right;
         background-size: 200%;
         transition: .5s ease-out;

         &:hover {
             color: #333;
             background-position: left;
         }
     }

 }

 .canvas {
     position: relative;
     left: 15%;
     top: 10%;
     height: calc(100px*var(--scaler));
     width: calc(200px*var(--scaler));
 }

 .copyright-tag {
     transform: scale(calc(0.8*var(--scaler)));
     position: absolute;
     bottom: 0;
     right: 0;
     color: #8d8d8d;

     a {
         text-decoration: none;
         color: #8d8d8d;
     }
 }

 