 .home-page {
     margin-left: 10%;
     width: 90vw;
     height: 100vh;

     h1 {
         margin: 0;
         font-family: 'Coolvetica';
         font-weight: 400;

         &::before {
             content: '<h1>';
             font-family: 'La Belle Aurore';
             color: #ffd700;
             font-size: 3rem;
             position: absolute;
             top: -25%;
             left: -6%;
             opacity: 0.6;
         }

         &::after {
             content: '</h1>';
             font-family: 'La Belle Aurore';
             color: #ffd700;
             font-size: 3rem;
             position: absolute;
             bottom: -25%;
             left: -6%;
             animation: fadeIn 1s 1.7s backwards;
             opacity: 0.6;
         }

     }

     h2 {
         color: #8d8d8d;
         margin-top: 4rem;
         font-weight: 400;
         font-family: sans-serif;
         letter-spacing: 3px;
         animation: fadeIn 1s 1.8s backwards;
     }

     .flat-button {
         color: #ffd700;
         font-weight: 400;
         letter-spacing: 4px;
         font-family: sans-serif;
         text-decoration: none;
         padding: 10px 18px;
         border: 1px solid #ffd700;
         margin-top: 25px;
         float: left;
         animation: fadeIn 1s 1.8s backwards;
         white-space: nowrap;

         background: linear-gradient(to left, hsl(200, 20%, 10%) 50%, #ffd700 50%) right;
         background-size: 200%;
         transition: .5s ease-out;

         &:hover {
             color: #333;
             background-position: left;
         }
     }

 }


 .copyright-tag {
     position: absolute;
     font-size: 1.6rem;
     bottom: 0;
     right: 2%;
     color: #8d8d8d;

     a {
         text-decoration: none;
         color: #8d8d8d;
     }
 }


 @media (min-width: 300px) and (max-width: 1280px) {

     .home-page {
         h1 {
             &::before {
                 top: -28%;
                 font-size: 2rem;
             }

             &::after {
                 bottom: -30%;
                 font-size: 2rem;
             }
         }
     }

     .copyright-tag {
        font-size: 1rem;
     }
 }