h1 {
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;

    &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 3rem;
        position: absolute;
        top: -50%;
        left: -6%;
        opacity: 0.6;
    }

    &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 3rem;
        position: absolute;
        bottom: -70%;
        left: -6%;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
    }

}

.flat-button {
    color: #ffd700;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #ffd700;
    margin-top: 25px;
    animation: fadeIn 1s 1.8s backwards;

    background: linear-gradient(to left, hsl(200, 20%, 10%) 50%, #ffd700 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    &:hover {
        color: #333;
        cursor: pointer;
        background-position: left;
    }
}