
.nav-bar {
  background: #181818;
  width: calc(80px*var(--scaler));
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: calc(8px*var(--scaler)) auto;
      width: calc(24px*var(--scaler));
      height: auto;
      &.sub-logo {
        width: calc(50px*var(--scaler));
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height:calc(210px*var(--scaler));
    top: 50%;
    margin-top: calc(-120px*var(--scaler));
    width: 100%;

    a {
      font-size: calc(22px*var(--scaler));
      color: #4d4d4e;
      display: block;
      line-height: calc(51px*var(--scaler));
      height: calc(51px*var(--scaler));
      position: relative;
      text-decoration: none;

      &:hover {
        color: #ffd700;

        svg {
          transition: opacity 0.3s ease-in;

          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: calc(9px*var(--scaler));
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
      }

      &:first-child {
        &:after {
          content: 'Accueil';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'A Propos';
      }
    }

    a.projects-link {
      &:after {
        content: 'Projets';
      }
    }

    a.skills-link {
      &:after {
        content: 'Compétences';
      }
    }

    a.contact-link {
      &:after {
        content: 'Contact';
      }
    }

    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  ul {
    position: absolute;
    bottom: calc(20px*var(--scaler));
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: calc(7px*var(--scaler)) 0;
        margin-top: 2px;
        display: block;
        font-size: calc(20px*var(--scaler));
        line-height: calc(21px*var(--scaler));
        color: #4d4d4e;

        &:hover svg {
          transition: color .4s ease-in;

          color: #ffd700;
        }
      }
    }
  }
}


@media (max-width: 5000px) {
  :root {
      --scaler: 2;
  }
}

@media (max-width: 2551px) {
  :root {
      --scaler: 1.32;
  }
}

@media (max-width: 1921px) {
  :root {
      --scaler: 1;
  }
}

@media (max-width: 1681) {
  :root {
      --scaler: 0.87;
  }
}


@media (max-width: 1281px) {
  :root {
      --scaler: 0.66;
  }

}

@media (max-width: 1000px) {
  :root {
      --scaler: 0.8;
  }
}

@media (max-width: 600px) {
  :root {
      --scaler: 0.6;
  }
}

@media (max-width: 330px) {
  :root {
      --scaler: 0.45;
  }
}