.nav-bar {
  background: #181818;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 100vh;


  nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      font-size: 2.5rem;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      &:hover {
        color: #ffd700;

        svg {
          transition: opacity 0.3s ease-in;
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
      }

      &:first-child {
        &:after {
          transform: translateX(-20%);
          content: 'Accueil';
        }
      }
    }

    a.projects-link {
      &:after {
        transform: translateX(-20%);
        content: 'Projets';
      }
    }

    a.skills-link {
      &:after {
        transform: translateX(-70%);
        content: 'Compétences';
      }
    }

    a.contact-link {
      &:after {
        transform: translateX(-20%);
        content: 'Contact';
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        margin-top: 2px;
        display: block;
        font-size: 2.5rem;
        line-height: 21px;
        color: #4d4d4e;

        &:hover svg {
          transition: color .4s ease-in;
          color: #ffd700;
        }
      }
    }
  }
}



@media (min-width: 300px) and (max-width: 900px) {
  body {
    overflow: auto;
  }
}